# Core Framework
langchain
langchain-core

# LLM Providers (The "Brains")
langchain-google-genai
langchain-huggingface

# API & Server (The "Body")
flask
flasgger

# Utils
python-dotenv
requests